@font-face {
  font-family: "lato";
  src: local("lato"), local("lato regular"), local("lato-regular"),
  url("fonts/lato-regular.woff2") format("woff2"),
  url("fonts/lato-regular.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "lato";
  src: local("lato"), local("lato bold"), local("lato-bold"),
  url("fonts/lato-bold.woff2") format("woff2"),
  url("fonts/lato-bold.woff") format("woff");
  font-weight: 700;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: #2d2d2d;
  font-family: "lato", sans-serif;
  font-size: 22px;
  font-weight: 400;
}

h1, h2, h3, p {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  min-height: 100%;
  max-width: 100%;
}

ul {
  padding: 0;
  list-style: none;
}
.container {
  margin: 0 auto;
  padding: 100px 80px 86px 80px;
  max-width: 1920px;
}

.care__wrapper {
  margin: 0 auto;
  padding: 100px 80px 25px 80px;
  max-width: 1920px;
}

.care__title {
  margin-bottom: 60px;
  font-size: 50px;
  line-height: 65px;
  font-weight: 700;
}

.care__text {
  font-size: 22px;
  line-height: 33px;
}

.care__wrapper-p p:not(:last-child) {
  margin-bottom: 50px;
}

.care__wrapper-p {
  margin-bottom: 50px;
}

.care__nav {
  margin-bottom: 50px;
}

.care__list,
.care__link {
  color: #525252;
  font-size: 16px;
  line-height: 24px;
}

.care__photo {
  min-height: 560px;
  background: url("img/shoes.png") no-repeat;
}

.care_wrapper-main {
  margin: 0;
  padding: 0 0 80px 80px;
  max-width: 1180px;
}
.care__section {
  padding: 25px 0;
}

.care__subtitle {
  font-size: 22px;
  font-weight: 700;
}

.care__daily-photo {
  margin-bottom: 50px;
  min-height: 560px;
  background: url("img/brushes.png") no-repeat;
}

.care__h3 {
  font-size: 22px;
  line-height: 33px;
  font-weight: 400;
}

.care__text-gap {
  margin-bottom: 25px;
}
