.discount {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 88px;
  height: 88px;
  border-radius: 50%;
  background-color: $dicsount-background-color;
  font-size: 30px;
  font-weight: 700;
  line-height: 130%;
  color: $text-light-color;

  &--hide {
    display: none;
  }

  @include large {
    width: 4.58vw;
    height: 4.58vw;
    font-size: 1.56vw;
  }
  
  @include large-layout {
    width: 88px;
    height: 88px;
    font-size: 30px;

    &--card {
      width: 66px;
      height: 66px;
      font-size: 20px;
    }
  }

  @include medium {
    width: 8.62vw;
    height: 8.62vw;
    font-size: 2.94vw;

    &--card {
      width: 50px;
      height: 50px;
      font-size: 16px;
    }
  }

  @include medium-layout {
    width: 50px;
    height: 50px;
    font-size: 16px;
  }

  @include small {
    width: 6.5vw;
    height: 6.5vw;
    font-size: 2.08vw;
  }

  @include small-layout {
    width: 40px;
    height: 40px;
    font-size: 12px;

    &--card {
      width: 32px;
      height: 32px;
      font-size: 12px;
    }
  }
}
