.card {
  padding: 40px 0 50px;

  &__title {
    position: relative;
    margin-bottom: 68px;
    font-size: 50px;
    font-weight: 700;
    line-height: $main-line-height;
  }

  &__good {
    position: relative;
    margin-bottom: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &::before {
      position: absolute;
      top: -43px;
      left: 50%;
      transform: translateX(-50%);
      content: '';
      display: block;
      @include block-width(1770px);
      height: 1px;
      background-color: $card-line;
    }
  }

  &__discount {
    position: absolute;
    @include discount-good-top(619px, 20px);
  }

  &__img {
    @include block-width(757px);
    max-height: 427px;
    object-fit: contain;
  }

  &__img  img {
    @include block-width(757px);
    max-height: 427px;
    object-fit: contain;
  }

  &__info {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    @include block-width(420px);
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 0 16px 1px rgba(0, 0, 0, 0.25);
  }

  &__price-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 7px 24px;
    @include block-width(292px);
  }

  &__new-price {
    color: $card-red;
    font-size: 36px;
    font-weight: 700;
  }

  &__old-price {
    color: $text-dark-color;
    font-size: 22px;
    font-weight: 400;
    text-decoration: line-through;
  }

  &__credit-price {
    color: $button-background-color;
    font-size: 16px;
    font-weight: 700;
    line-height: $main-line-height;
  }

  &__btns-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include block-width(292px);
  }

  &__cart-btn {
    padding: 17px 42px;
    background-color: $button-background-color;
    border: none;
    border-radius: 10px;
    color: $text-light-color;
    font-size: 16px;
    font-weight: 700;
    line-height: $main-line-height;
  }

  &__favorite-btn {
    width: 33px;
    height: 33px;
    background-color: transparent;
    border: none;
  }

  &__delivery-wrapper {
    display: flex;
    justify-content: space-between;
    @include block-width(236px);
    font-size: 16px;
    font-weight: 400;
    color: $text-dark-color;
    line-height: $main-line-height;
  }

  &__delivery-title {
    display: block;
    margin-bottom: 5px;
    color: $card-grey;
  }

  &__find-out {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include block-width(224px);
  }

  &__bell {
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: none;
  }

  &__find-out-btn {
    color: $button-background-color;
    background-color: transparent;
    border: none;
  }

  &__description {
    @include block-width(1234px);
  }

  &__description-title {
    margin-bottom: 20px;
    font-size: 32px;
    font-weight: 700;
    line-height: $main-line-height;
  }

  &__description-text {
    font-size: 22px;
    font-weight: 400;
    color: $text-dark-color;
    line-height: 1.5;
  }

  @include large {
    &__discount {
      @include discount-good-top(32vw, 1.04vw);
    }

    &__img {
      @include block-width(42vw);
      max-height: 23.7vw;
    }

    &__img  img {
      @include block-width(42vw);
      max-height: 23.7vw;
      object-fit: contain;
    }

    &__info {
      @include block-width(25vw);
      padding: 2vw;
    }

    &__price-wrapper {
      @include block-width(21vw);
    }
  
    &__new-price {
      font-size: 30px;
    }
  
    &__old-price {
      font-size: 18px;
    }
  
    &__credit-price {
      font-size: 14px;
    }
  
    &__btns-wrapper {
      @include block-width(21vw);
    }
  
    &__cart-btn {
      padding: 10px 22px;
    }
  
    &__description {
      @include block-width(64vw);
    }
  
    &__description-title {
      font-size: 28px;
    }
  
    &__description-text {
      font-size: 20px;
    }
  }

  @include large-layout {
    padding: 30px 0 15px;

    &__title {
      margin-bottom: 72px;
      @include block-width(620px);
      font-size: 40px;
    }

    &__good {
      margin-bottom: 70px;

      &::before {
        top: -50px;
      }
    }

    &__discount {
      @include discount-good-top(444px, 10px);
    }

    &__img {
      @include block-width(540px);
      max-height: 303px;
    }

    &__img  img {
      @include block-width(540px);
      max-height: 303px;
    }

    &__info {
      @include block-width(300px);
      padding: 25px 20px;
    }

    &__price-wrapper {
      gap: 16px 25px;
      @include block-width(256px);
    }

    &__new-price {
      font-size: 28px;
    }

    &__old-price {
      font-size: 18px;
    }

    &__credit-price {
      font-size: 14px;
    }

    &__btns-wrapper {
      @include block-width(256px);
    }

    &__cart-btn {
      padding: 12px 26px;
    }

    &__delivery-wrapper {
      @include block-width(256px);
    }


    &__find-out {
      @include block-width(192px);
    }

    &__bell {
      width: 22px;
      height: 22px;
    }

    &__find-out-btn {
      color: $button-background-color;
      background-color: transparent;
      border: none;
      font-size: 14px;
    }

    &__description {
      @include block-width(934px);
    }

    &__description-title {
      font-size: 24px;
    }

    &__description-text {
      font-size: 18px;
    }
  }

  @include medium {
    &__discount {
      @include discount-good-top(35vw, 5vw);
    }
  }

  @include medium-layout {
    padding: 25px 0 14px;

    &__title {
      margin-bottom: 46px;
      @include block-width(540px);
      font-size: 28px;
    }

    &__good {
      margin-bottom: 40px;

      &::before {
        top: -34px;
      }
    }

    &__discount {
      @include discount-good-top(300px, 56px);
    }

    &__img {
      @include block-width(380px);
      max-height: 213px;
    }

    &__img  img {
      @include block-width(380px);
      max-height: 213px;
    }

    &__info {
      @include block-width(300px);
      padding: 25px 20px;
    }

    &__description {
      @include block-width(700px);
    }

    &__description-title {
      margin-bottom: 10px;
      font-size: 18px;
    }

    &__description-text {
      font-size: 16px;
    }
  }

  @include small {
    &__discount {
      @include discount-good-top(240px, 56px);
    }

    &__info {
      @include block-width(30vw);
      padding: 8px;
      gap: 15px;
    }

    &__price-wrapper {
      gap: 5px 5px;
      @include block-width(26vw);
    }

    &__new-price {
      font-size: 16px;
    }

    &__old-price {
      font-size: 10px;
    }

    &__credit-price {
      font-size: 12px;
    }

    &__btns-wrapper {
      @include block-width(26vw);
      flex-wrap: wrap;
      gap: 15px;
    }

    &__cart-btn {
      margin: 0 auto;
      border-radius: 8px;
      padding: 8px 10px;
      font-size: 10px;
    }

    &__favorite-btn {
      margin: 0 auto;
      width: 24px;
      height: 24px;
    }

    &__delivery-wrapper {
      @include block-width(26vw);
      font-size: 12px;
    }


    &__find-out {
      @include block-width(26vw);
    }

    &__bell {
      width: 12px;
      height: 12px;
    }

    &__find-out-btn {
      font-size: 10px;
    }
  }

  @include small-layout {
    padding: 15px 0;

    &__title {
      @include block-width(280px);
      margin-bottom: 28px;
      font-size: 18px;
    }

    &__good {
      margin-bottom: 30px;
      display: flex;
      flex-direction: column;
      row-gap: 20px;

      &::before {
        top: -20px;
      }
    }

    &__discount {
      @include discount-good-top(240px, 5px);
    }

    &__img {
      @include block-width(280px);
      max-height: 157px;
    }

    &__img  img {
      @include block-width(280px);
      max-height: 157px;
    }

    &__info {
      row-gap: 20px;
      max-width: 320px;
      width: 320px;
      padding: 25px 50px 29px;
      border-radius: 0;
      box-shadow: 0 0 16px 1px rgba(0, 0, 0, 0.25);
    }

    &__price-wrapper {
      gap: 13px 16px;
      @include block-width(190px);
    }

    &__new-price {
      font-size: 20px;
    }

    &__old-price {
      font-size: 12px;
    }

    &__credit-price {
      font-size: 12px;
    }

    &__btns-wrapper {
      @include block-width(190px);
    }

    &__cart-btn {
      padding: 8px 18px;
      border-radius: 8px;
      font-size: 12px;
    }

    &__favorite-btn {
      width: 24px;
      height: 24px;
    }

    &__delivery-wrapper {
      @include block-width(154px);
      font-size: 12px;
    }

    &__delivery-title {
      margin-bottom: 5px;
    }

    &__find-out {
      @include block-width(112px);
    }

    &__bell {
      width: 14px;
      height: 14px;
    }

    &__find-out-btn {
      font-size: 8px;
    }

    &__description {
      @include block-width(280px);
    }

    &__description-title {
      margin-bottom: 6px;
      font-size: 16px;
    }

    &__description-text {
      font-size: 12px;
    }
  }
}