.cart {
  padding-top: 20px;
  padding-bottom: 50px; 

  @include large-layout {
    padding-bottom: 15px; 
  }

  @include medium-layout {
    &__container {
      @include block-width(768px);
      padding: 0;
    }
  }
}
