.profit {
  padding-top: 29px;
  padding-bottom: 103px;

  &__title {
    margin-bottom: 50px;
    color: $text-dark-color;
    font-size: 50px;
    font-weight: 700;
    line-height: $main-line-height;
  }

  &__list {
    display: flex;
    gap: 50px 30px;
    flex-wrap: wrap;
  }

  &__item:nth-child(4n+4) {
    margin-left: auto;
  }

  &__item-one-img {
    background-image: image-set(
        url('../img/t-shirt.avif') type('image/avif'),
        url('../img/t-shirt.webp') type('image/webp'),
        url('../img/t-shirt.jpg')
      );
  }

  &__item-two-img {
    background-image: image-set(
        url('../img/sneaker-orange-white.avif') type('image/avif'),
        url('../img/sneaker-orange-white.webp') type('image/webp'),
        url('../img/sneaker-orange-white.jpg')
      );
  }

  &__item-three-img {
    background-image: image-set(
        url('../img/bed.avif') type('image/avif'),
        url('../img/bed.webp') type('image/webp'),
        url('../img/bed.jpg')
      );
  }

  &__item-four-img {
    background-image: image-set(
        url('../img/hair-dryer.avif') type('image/avif'),
        url('../img/hair-dryer.webp') type('image/webp'),
        url('../img/hair-dryer.jpg')
      );
  }

  &__item-five-img {
    background-image: image-set(
        url('../img/bed.avif') type('image/avif'),
        url('../img/bed.webp') type('image/webp'),
        url('../img/bed.jpg')
      );
  }

  &__item-six-img {
    background-image: image-set(
        url('../img/hair-dryer.avif') type('image/avif'),
        url('../img/hair-dryer.webp') type('image/webp'),
        url('../img/hair-dryer.jpg')
      );
  }  

  &__item-seven-img {
    background-image: image-set(
        url('../img/mittens.avif') type('image/avif'),
        url('../img/mittens.webp') type('image/webp'),
        url('../img/mittens.jpg')
      );
  }

  &__item-eight-img {
    background-image: image-set(
        url('../img/t-shirt.avif') type('image/avif'),
        url('../img/t-shirt.webp') type('image/webp'),
        url('../img/t-shirt.jpg')
      );
  }

  @include large {
    &__list {
      gap: 2.6vw 1.3vw;
    }

    &__item-four-img {
      background-image: image-set(
        url('../img/hair-dryer-large.avif') type('image/avif'),
        url('../img/hair-dryer-large.webp') type('image/webp'),
        url('../img/hair-dryer-large.jpg')
      );
    }

    &__item-six-img {
      background-image: image-set(
        url('../img/hair-dryer-large.avif') type('image/avif'),
        url('../img/hair-dryer-large.webp') type('image/webp'),
        url('../img/hair-dryer-large.jpg')
      );
    }
  }

  @include large-layout {
    padding-top: 45px;
    padding-bottom: 50px;
  
    &__title {
      margin-bottom: 40px;
      font-size: 40px;
    }
  
    &__list {
      gap: 50px 20px;
    }

    &__item:nth-child(4n+4) {
      margin-left: 0;
    }

  }

  @include medium {
    &__title {
      margin-bottom: 3.92vw;
      font-size: 3.92vw;
    }
  
    &__list {
      gap: 4.9vw 1.6vw;
    }

    &__item:nth-child(3n+3) {
      margin-left: auto;
    }
  }

  @include medium-layout {
    padding-top: 46px;
    padding-bottom: 40px;

    &__title {
      margin-bottom: 30px;
      font-size: 30px;
    }

    &__list {
      gap: 40px 20px;
    }
  }

  @include small {
    padding-top: 5.98vw;
    padding-bottom: 5.2vw;

    &__title {
      margin-bottom: 3.9vw;
      font-size: 3.9vw;
    }

    &__list {
      gap: 5vw 1.4vw;
    }
  }

  @include small-layout {
    padding-top: 35px;
    padding-bottom: 35px;

    &__title {
      margin-bottom: 26px;
      font-size: 20px;
    }

    &__list {
      gap: 30px 20px;
    }

    &__item:nth-child(3n+3) {
      margin-left: 0;
    }
  }
}
